<%= form_with(model: group, class: "contents") do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.text_field :name, placeholder:"Group Name", class:'proxima-light' %>
  </div>

  <div class="my-5">
    <%= form.text_field :icon, placeholder:'Icon Link', class:'proxima-light' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script>
  const submitBtn = document.getElementById("submit-form");
  const form = document.querySelector("form");

  submitBtn.addEventListener("click", () => {
    form.submit();
  });
</script>