<!DOCTYPE html>
<html>
  <head>
    <title>GoneCoins</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" > %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true > %>
  </head>

  <body>
    <% if !current_page?(root_path) %>
      <%= render 'shared/nav_bar'%>
    <% end %>

    <main>
      <p class="notice"><%= notice %></p>    
      <p class="alert"><%= alert %></p>   
      <%= yield %>
    </main>
  </body>
</html>
